.post {
  background-color: #bbb;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.post-title {
  font-weight: bold;
}

.pagination {
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin:3px;
  
}